venv/
pycache/
runs/
*.pyc
static/
runs/
flask_server/sys_main_modules/weight/best.pt
flask_server/traced_model.pt
venv/Lib/site-packages/torch/lib/dnnl.lib
venv/Lib/site-packages/torch/lib/torch_cpu.dll
traced_model.pt
sys_main_modules/weight/best.pt
venv/Lib/site-packages/cv2/cv2.pyd